@media screen and (max-width: 768px) {
  #logoSmall {
    margin: 0 auto;
  }

  .viewMore {
    display: none;
  }

  .container {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .container ul li {
    text-align: center;
    width: 50%;
    padding-bottom: 50px;
  }

  .container ul li:hover {
    border-bottom: 3px solid #0065fc;
    border-top: 3px solid white;
  }

  .title {
    margin-top: 0;
  }

  .boxContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .activityTitle {
    padding-left: 20px;
    width: 50%;

    margin-left: 0;
    margin-right: 0;
  }

  .searchText {
    display: none;
  }

  form button {
    right: 17px;
  }

  .filterSlide button {
    width: 160px;
    height: 50px;
    margin: 10px;

    font-size: 11px;

    justify-content: space-between;
  }

  p,
  span {
    margin: 10px 0;
  }

  header {
    padding-left: 15px;
  }

  .loop {
    visibility: visible;
  }

  span {
    display: inline-block;
  }

  .boxR {
    margin-top: 0;
  }

  .boxR,
  .boxL {
    border-radius: 0;
  }

  .boxL {
    background-color: white;
    height: auto;
  }

  .boxL .card {
    width: 100%;
  }

  .cardContainer {
    flex-direction: column;
  }

  .card img {
    width: 97%;
  }

  .cardR {
    width: 100%;
  }

  .activityBox {
    flex-direction: column;
  }

  .activity {
    width: 100%;
  }

  footer {
    flex-direction: column;
  }

  .activity,
  .card,
  span {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .cardR {
    margin-left: auto;
    margin-right: auto;
  }

  .info {
    width: 90%;
  }

  nav,
  .boxContainer,
  .activityBox,
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 635px) {
  .card img {
    width: 96%;
  }
}

@media screen and (max-width: 545px) {
  .card img {
    width: 95%;
  }
}

@media screen and (max-width: 441px) {
  .card img {
    width: 93%;
  }
}

@media screen and (max-width: 335px) {
  .card img {
    width: 90%;
  }
}
