@media screen and (max-width: 768px) {
  #logoSmall {
    margin: 0 auto;
  }

  .container {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .container ul li {
    text-align: center;
    width: 50%;
    padding-bottom: 50px;
  }

  .container ul li:hover {
    border-bottom: 3px solid #0065fc;
    border-top: 3px solid #f0f2f6;
  }

  .title {
    margin-top: 0;
  }

  .boxContainer {
    display: flex;
    flex-direction: column-reverse;

    margin-left: 0;
    margin-right: 0;
  }

  .searchText {
    display: none;
  }

  form button {
    right: 17px;
  }

  .filterSlide button {
    margin: 10px;
  }

  p,
  span {
    margin: 10px 0;
  }

  span {
    display: inline-block;
    width: 100%;
  }

  .boxR {
    margin-top: 0;
  }

  .boxR,
  .boxL {
    border-radius: 0;
  }

  .boxL {
    background-color: white;
    height: auto;
  }

  .boxL .card img {
    width: 98%;
  }

  .boxL .card {
    width: 100%;
  }

  .cardContainer {
    flex-direction: column;
  }

  .cardR {
    width: 100%;
  }
}
