* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Raleway;
  src: url(fonts/static/Raleway-Black.ttf);
}

body {
  max-width: 1400px;
  font-family: Raleway;
  background-color: white;
  overflow-x: hidden;
}

.loop {
  visibility: hidden;
}

header nav p {
  margin-top: 16px;
}

header form input {
  font-size: 21px;
  padding: 12px;
}

header form p {
  margin-top: 13px;
}

nav span {
  font-weight: bold;
}

h1,
nav span {
  font-size: 1.5em;
}

p {
  font-size: 16px;
}

body,
nav,
.boxContainer,
.info,
.activityBox,
.activityTitle,
footer {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: column;
}

nav,
.boxContainer,
.info,
.activityBox,
.activityTitle {
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.container ul li {
  border: 3px solid white;
  padding: 0 20px;
}

#logoSmall,
.container ul li {
  padding-top: 5vh;
}

.container ul li:hover {
  border-top: 3px solid #0065fc;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  margin-top: 2vh;
}

.title {
  margin-top: 10vh;
}

.title h1,
.title p {
  margin-bottom: 5px;
}

form input {
  max-width: 253px;
}

form button {
  position: relative;
  width: 132px;
  background-color: #0065fc;
  color: white;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;

  font-weight: 100;
}

form button,
form input,
.glass {
  border: 1px solid #f2f2f2;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
}

.glass,
footer,
.boxL,
.boxR {
  background-color: #f2f2f2;
}

.filterSlide i {
  margin-right: 7px;
}

.filterSlide span {
  margin-right: 2px;
}

form button,
form input {
  height: 49px;
}

.glass {
  width: 50px;
  height: 47px;
  border-radius: 15px 0 0 15px;
}

.filterSlide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 3vh;
}

.filterSlide button {
  background-color: white;
  margin: 0 12px;
  padding: 10px;

  font-size: 17px;
  font-weight: 600;

  border-radius: 25px;
  border: 2px solid #d9d9d9;

  max-width: 226px;
  height: 50px;
}

.filterSlide button:hover {
  background-color: #deebff;
}

.circle {
  width: 24px;
  height: 24px;

  border: 1px solid grey;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: blue;
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  padding-left: 11px;
}

.boxContainer {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}

.boxL,
.boxR {
  border-radius: 20px;
  padding-top: 42px;
  height: auto;
}

.boxL {
  width: auto;
  margin-right: 40px;
}

.titleBoxR h2,
.boxL h2,
.viewMore {
  padding-left: 41px;
}

.boxR {
  width: 32%;
}

.infoCard .starBox {
  position: absolute;
  padding-left: 13px;
  margin-top: 112px;
}

.boxL h1 {
  padding-left: 22px;
  width: 50%;
}

h2 {
  padding-left: 40px;
}

.titleBoxR {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 39px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 40px 30px;
}

.cardContainer a,
a .activity {
  color: black;
}

.cardContainer .card:hover,
.cardR:hover,
.activity:hover {
  background-color: #deebff;
  border-color: #f2f2f2;
}

.card,
.cardR,
.activity {
  border-radius: 20px;
  margin-top: 20px;

  box-shadow: 1px 1px 5px rgb(189, 186, 186);
}

.card {
  background-color: #fff;
  height: auto;
  width: 237px;
}

figcaption,
.card p,
.starBox,
.infoCard p {
  padding-left: 16px;
}

figcaption {
  font-size: 16px;
}

.card p {
  font-size: 14px;
}

.starBox .blue,
.filterSlide i,
.container ul a,
.stonk {
  color: #0065fc;
}

.starBox {
  margin: 5px 0;
}

.grey {
  color: #f2f2f2;
}

.viewMore {
  display: block;
  font-size: 21px;
  font-weight: bold;

  margin-top: 50px;
}

.cardR {
  display: flex;
  background: white;

  height: 144px;
  width: 343px;

  margin-bottom: 17px;
}

.cardR img {
  width: 144px;
  height: 134px;

  object-fit: cover;

  border-radius: 20px 0 0 20px;
  border: 5px solid white;
}

.searchText {
  position: relative;
  top: 9px;
  font-size: 17px;
}

.card img {
  height: 124px;
  width: 93%;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
  border: 5px solid white;

  margin: 5px;
}

.infoCard {
  display: flex;
  flex-direction: column;
  padding: 2px 0;
}

.infoCard h3 {
  margin-bottom: 5px;
}

.cardR .infoCard {
  padding: 8px 10px 0px 0px;
}

.cardR h3,
.cardR p {
  padding-left: 13px;
}

.activityBox {
  display: flex;
  justify-content: space-between;
}

.activity {
  background-color: white;

  margin-top: 30px;

  border-radius: 20px;

  width: 302px;
  height: 445px;
}

.activity img {
  width: 100%;
  height: 389px;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

.activity h3 {
  margin-top: 15px;
}

.stonk {
  float: right;
}

figcaption {
  font-size: 16px;
  font-weight: bold;
}

nav .container,
nav .title,
nav form,
.filterSlide,
.info,
h2,
.boxContainer,
.activityBox,
footer {
  padding: 0 50px;
}

footer {
  display: flex;

  width: 1182px;

  margin-top: 60px;
  padding-bottom: 20px;
  padding-left: 70px;
  justify-content: space-between;
}

footer ul {
  flex-direction: column;
  width: 90%;

  margin-top: 15px;
}

footer ul li:first-child {
  font-weight: bold;
}

footer ul li {
  margin-top: 20px;
  font-size: 16px;
}

h4 {
  font-size: 18px;
}
