* {
  margin: 0;
  padding: 0;
}

button i {
  display: none;
}

header nav p {
  margin-top: 6px;
}

nav span {
  font-weight: bold;
}

.titleBoxR h1,
h1,
nav span {
  font-size: 1.5em;
}

.titleBoxR h1 {
  display: block;
  font-weight: bold;

  width: 78%;
}

p {
  font-size: 16px;
}

body {
  font-family: Raleway;

  background-color: white;
}

nav,
.boxContainer,
.info,
.activityBox,
.activityTitle,
footer {
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  flex-direction: column;
}

nav,
.boxContainer,
.info,
.activityBox,
.activityTitle {
  width: 1340px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.container ul li {
  border: 3px solid white;
  padding: 0 20px;
}

#logoSmall,
.container ul li {
  padding-top: 5vh;
}

.container ul li:hover {
  border-top: 3px solid #0065fc;
}

a {
  text-decoration: none;
}

.container ul a {
  color: #0065fc;
}

form {
  display: flex;
  margin-top: 2vh;
}

.title {
  margin-top: 10vh;
}

.title h1,
.title p {
  margin-bottom: 5px;
}

form input {
  width: 332px;
}

form button {
  position: relative;
  right: 60px;
  background-color: #0065fc;
  color: white;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
}

form button,
form input,
.glass {
  border: 1px solid grey;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
}

.filterSlide i {
  color: blue;

  margin-right: 7px;
}

.filterSlide span {
  margin-right: 20px;
}

form button,
form input {
  height: 49px;
}

.glass {
  width: 49px;
  height: 47px;
  border-radius: 15px 0 0 15px;
}

.filterSlide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 3vh;
}

.filterSlide button {
  background-color: white;
  margin: 0 20px;
  padding: 10px;

  font-size: 17px;
  font-weight: bold;

  border-radius: 25px;
  border: 2px solid grey;
}

.filterSlide button:hover {
  background-color: #deebff;
}

.circle {
  width: 24px;
  height: 24px;

  margin-right: 5px;

  border: 1px solid grey;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  color: blue;
}

.boxContainer {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}

.boxL,
.boxR {
  background: #d9d9d9;

  border-radius: 20px;

  padding-top: 42px;

  height: auto;
}

.boxL {
  width: 880px;
}

.boxR {
  width: 420px;
}

.boxL h1,
.viewMore {
  margin-left: 40px;
}

.boxR h1 {
  margin-left: 37px;
}

.titleBoxR {
  display: flex;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 40px 30px;
}

.card,
.cardR,
.activity {
  border-radius: 20px;
  margin-top: 20px;

  box-shadow: 1px 1px 5px grey;
}

.card {
  background-color: #fff;
  height: auto;
  width: 246px;
}

.card img {
  height: 124px;
  width: 96%;
  object-fit: cover;

  border-radius: 20px 20px 0 0;

  margin: 5px;
}

h3,
.card p,
.starBox,
.infoCard p {
  padding-left: 16px;
}

h3 {
  font-size: 16px;
}

.card p {
  font-size: 14px;
}

.starBox .blue {
  color: blue;
}

.starBox {
  margin: 5px 0;
}

.grey {
  color: #f2f2f2;
}

.viewMore {
  display: block;
  font-size: 21px;
  font-weight: bold;
}

.cardR {
  display: flex;
  background: white;

  height: 144px;
  width: 343px;

  margin-bottom: 17px;
}

.cardR img {
  width: 40%;
  height: 134px;

  object-fit: cover;

  border-radius: 20px 0 0 20px;
  border: 5px solid white;
}

.infoCard {
  flex-direction: column;
  padding: 2px 0;
}

.infoCard p {
  margin-top: 7px;
}

.infoCard .starBox {
  margin-top: 50px;
}

.activityBox {
  display: flex;
  justify-content: space-between;
}

.activityTitle {
  margin-bottom: 5px;
}

.activity {
  background-color: white;

  margin-top: 30px;

  border-radius: 20px;

  width: 302px;
  height: 445px;
}

.activity img {
  width: 100%;
  height: 389px;

  object-fit: cover;

  border-radius: 20px 20px 0 0;
}

.activity h3 {
  margin-top: 10px;
}

.stonk {
  color: blue;

  float: right;
}

footer {
  display: flex;

  width: 1340px;

  margin-top: 60px;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #d9d9d9;
}

footer ul {
  flex-direction: column;
  width: 30%;

  margin-top: 45px;
  margin-left: 70px;
}

footer ul li:first-child {
  font-weight: bold;
}

footer ul li {
  margin-top: 20px;
  font-size: 16px;
}

h4 {
  font-size: 18px;
}

@media screen and (max-width: 1500px) {
  nav,
  .boxContainer,
  .info,
  .activityBox,
  .activityTitle,
  footer {
    width: 90%;
  }

  .boxContainer {
    display: block;
  }

  .boxL {
    width: 100%;
    height: 600px;
  }

  .boxR {
    margin-top: 50px;
    width: 100%;
    height: auto;

    padding-bottom: 20px;
  }

  .titleBoxR h1 {
    width: 92%;
  }
}

@media screen and (max-width: 1024px) {
  nav,
  .boxContainer,
  .info,
  .activityBox,
  .activityTitle,
  footer {
    width: 90%;
  }

  .boxL {
    width: 100%;
  }

  .cardR {
    width: 32%;
  }

  .infoCard .starBox {
    margin-top: 21px;
  }

  .up {
    position: relative;
    bottom: 17px;
  }

  .titleBoxR h1 {
    display: block;
    font-size: 22px;

    width: 89%;
  }

  .activity {
    width: 200px;
    height: 450px;
  }

  .cardR {
    padding: 2px;
  }
}

@media screen and (max-width: 1008px) {
  .infoCard .starBox {
    margin-top: 25px;
  }
}

@media screen and (max-width: 978px) {
  .boxL {
    height: 800px;
  }
}
