@media screen and (max-width: 1024px) {
  main .boxR {
    max-width: 880px;
  }

  .boxR {
    width: auto;
  }

  .boxContainer {
    flex-direction: column;
  }

  .boxL {
    height: 626px;
    margin-bottom: 53px;
  }

  .cardR {
    width: 242px;
  }

  .infoCard .starBox {
    margin-top: 0px;
  }

  .activity {
    height: 267px;
    width: 182px;
  }

  .activity img {
    height: 211px;
  }

  nav,
  .boxContainer,
  .info,
  .activityBox,
  .activityTitle {
    max-width: 880px;
    margin-bottom: 30px;
  }

  footer {
    max-width: 880px;
  }

  .activity h3 {
    margin-top: 5px;
  }
}
