* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 22px;
}

p {
  font-size: 16px;
}

body {
  font-family: Raleway;

  background-color: #f0f2f6;

  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav,
article {
  width: 1340px;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

.container ul li {
  border: 3px solid #f0f2f6;
  padding: 0 20px;
}

#logoSmall,
.container ul li {
  padding-top: 5vh;
}

.container ul li:hover {
  border-top: 3px solid #0065fc;
}

a {
  text-decoration: none;
}

.container ul a {
  color: #0065fc;
}

form {
  display: flex;
  margin-top: 2vh;
}

.title {
  margin-top: 10vh;
}

.title h1,
.title p {
  margin-bottom: 5px;
}

form input {
  width: 332px;
}

form button {
  position: relative;
  right: 60px;
  background-color: #0065fc;
  color: white;
  padding: 0 10px;
  border-radius: 0 15px 15px 0;
}

form button,
form input,
.glass {
  border: 1px solid grey;
}

.glass {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
}

.filterSlide i {
  color: blue;

  margin-right: 7px;
}

form button,
form input {
  height: 49px;
}

.glass {
  width: 49px;
  height: 47px;
  border-radius: 15px 0 0 15px;
}

.filterSlide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 3vh;
}

.filterSlide button {
  margin: 0 10px;
  padding: 10px;

  font-size: 17px;
  font-weight: bold;

  border-radius: 25px;
  border: 2px solid grey;
}

.filterSlide button:hover {
  background-color: #deebff;
}

article {
  margin-top: 50px;
}

.circle {
  width: 24px;
  height: 24px;

  margin-right: 5px;

  border: 1px solid grey;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  color: blue;
}

.boxContainer {
  display: flex;
  justify-content: space-between;

  margin-top: 50px;
}

.boxL,
.boxR {
  background: #d9d9d9;

  border-radius: 20px;

  padding-top: 42px;

  height: 626px;
}

.boxL {
  width: 880px;
}

.boxR {
  width: 420px;
}

.boxL h1,
.viewMore {
  margin-left: 40px;
}

.boxR h1 {
  margin-left: 37px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0 40px 30px;
}

.card,
.cardR {
  border-radius: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;

  height: 199px;
  width: 246px;
}

.card img {
  height: 124px;
  width: 96%;
  object-fit: cover;

  border-radius: 20px 20px 0 0;

  margin: 5px;
}

h3,
.card p,
.starBox,
.infoCard p {
  padding-left: 16px;
}

h3 {
  font-size: 16px;
}

.card p {
  font-size: 14px;
}

.starBox i {
  color: blue;
}

#last {
  color: #f2f2f2;
}

.viewMore {
  display: block;
  font-size: 21px;
  font-weight: bold;
}

.cardR {
  display: flex;
  background: white;

  height: 144px;
  width: 343px;

  margin-bottom: 17px;
}

.cardR img {
  width: 40%;
  height: 134px;

  object-fit: cover;

  border-radius: 20px 0 0 20px;
  border: 5px solid white;
}

.infoCard {
  flex-direction: column;

  margin-top: 16px;
}

.infoCard p {
  margin-top: 7px;
}

.infoCard .starBox {
  margin-top: 41px;
}
